{% include "inc/head.html" %}
<!-- START: help/site -->

<dl id="index" class="help">
    <dt><a>Index</a></dt>
    <dd><br></dd>
    <dd><a href="{{page.uri}}#drupal-settings">Drupal settings</a></dd>
    <dd><a href="{{page.uri}}#drush">Drush access</a></dd>
    <dd><a href="{{page.uri}}#files-upload">Files upload/download</a></dd>
    <dd><a href="{{page.uri}}#database-import">Database import/export</a></dd>
</dl>

<dl class="help">

<!-- Drupal settings -->
<dt><br><hr><br></dt>
{% include "help/site/drupal-settings.html" %}

<!-- Drush -->
<dt><br><hr><br></dt>
{% include "help/site/drush.html" %}

<!-- Files download/upload -->
<dt><br><hr><br></dt>
{% include "help/site/files.html" %}

<!-- DB import -->
<dt><br><hr><br></dt>
{% include "help/site/database.html" %}

</dl>

<!-- END: help/site -->
{% include "inc/tail.html" %}
